.env
.env.*
!.env.example
env.bak/
.venv/
venv/
venv.bak/
tmp*/*
*.code-workspace
**/__pycache__/*
*.pyc

# Ignore egg-info directories
*.egg-info/
*.egg-info/*

# Ignore all files in the data directory and its subdirectories
data/**

# But don't ignore directories
!data/**/

# And don't ignore .gitkeep files
!data/**/*.gitkeep

# And don't ignore this image used within README.md
!data/outputs/asset-graph.png
